body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root {
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Libre Franklin', sans-serif;
}

/* MAIN PAGE */
.background-image {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.background-image img {
    width: 100%;
    height: auto;
    display: block;
}

.wistree-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 170px;
    height: auto;
}

.wistree-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.spring-left {
    position: absolute;
    top: 48%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.spring-left img {
    width: 100%;
    height: auto;
    display: block;
}

.spring-right {
    position: absolute;
    top: 33%;
    right: -100px;
    transform: translate(-50%, -50%);
}

.spring-right img {
    width: 100%;
    height: auto;
    display: block;
}

.heading {
    color: white;
    font-size: 120px;
    font-family: var(--main-font);
    position: absolute;
    top: 180px;
    width: 100%;
}

.line1 {
    display: block;
    position: absolute;
    right: 35px;
    top: -20px;
}

.line2 {
    display: block;
    position: absolute;
    left: -20px;
    top: 130px;
}

.circle {
    position: absolute;
    top: 45%;
    left: 52%;
    width: 225px;
    height: 225px;
    z-index: 2;
}

.home-text {
    width: 284px;
    height: 108px;
    font-family:var(--secondary-font);
    position: absolute;
    top: 60%;
    left: 72%;
    color: white;
    font-weight: 100;
    font-size: 18x;
    line-height: 27px;
}

.home-button {
    position: absolute;
    width: 115px;
    height: 65px;
    top: 700px;
    left: 628px;
}
/* Section-2 */
.section2 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 6%;
}

h6 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 112%;
}

hr {
    margin-top: -1%;
}

.heading-2 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 531%;
    margin-top: 2%;
    color: #104386;
}

.heading-2 span {
    display: block;
    line-height: 70%;
}

.paragraph-1,
.paragraph-2 {
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 27px;
    font-size: 100%;
    color: #2B2A29E5;
    margin-right: 0%;
}

.paragraph-1 {
    width: 31%;
    height: 27.50%;
}

.paragraph-2 {
    width: 32%;
    height: 25%;
}

.text-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: -2%;
}